:root  {
  --color-primary: #FFDF3E;
  --color-sail: #B2C2F9;
  --color-dark: #181818;
  --color-white: #FFFFFF;
  --color-light: #EDEDED;
  --color-text: #454040;
  --color-black: #000;
  --color-shaft: #272727;
  --color-scorpion: #565656;
  --color-gray: #838383;
  --color-mine: #3D3D3D;
  --color-ship: #8191C5;
}