<section class="about section section__border">
  <div class="about__container">
    <div class="section__wrapper section__wrapper--end about__wrapper">
      <div class="section__box">
        <h2 class="section__title about__title">о компании</h2>
        <p class="section__subtitle about__subtitile">
          Мы&nbsp;работаем уже больше 12&nbsp;лет. Позади большой опыт и&nbsp;цели на&nbsp;дальнейшее развитие. Посмотрите, как это было.
        </p>
      </div>
      <div class="about__btn">
        <a href="" class="btn btn--fill btn-reset btn--fill-dark">о компании</a>
      </div>
    </div>
    <ul class="about__list">
      <li class="about__item about__item-start">
        <span class="about__value about">2008</span>
        <p class="about__descr">Вышли на&nbsp;рынок. Были дилерами производителей герметиков&nbsp;&mdash; Пенетрон и&nbsp;САЗИ. Расширяем ассортимент.</p>
      </li>
      <li class="about__item about__item-middle">
        <span class="about__value">2012</span>
        <p class="about__descr">Начали производить битумную мастику и&nbsp;запустили свой бренд&nbsp;&mdash; Гидроизол.</p>
      </li>
      <li class="about__item about__item-end">
        <span class="about__value">2023</span>
        <p class="about__descr">Активно развиваемся и&nbsp;работаем с&nbsp;17&nbsp;крупными брендами. Предоставляем качественный спектр услуг.</p>
      </li>
      <div class="about__bg">
        <svg width="897" height="716" viewBox="0 0 897 716" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M87.1821 568.107L809.04 151.343" stroke="#FAFAFB" stroke-width="20"/>
          <path d="M748.467 382.822L811.244 148.534L576.955 85.7559" stroke="#FAFAFB" stroke-width="20"/>
        </svg>
      </div>
    </ul>
  </div>
</section>