<section class="advantages section">
  <div class="advantages__container">
    <div class="section__wrapper advantages__wrapper">
      <div class="section__box">
        <h2 class="section__title advantages__title">преимущества</h2>
      </div>
      <div class="advantages__btn">
        <a href="" class="btn btn--fill btn-reset btn--fill-white">о компании</a>
      </div>
    </div>
    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__value">1</span>
        <p class="advantages__descr">Собственное производство</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__value">2</span>
        <p class="advantages__descr">Профессиональный подход</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__value">3</span>
        <p class="advantages__descr">Все в наличии на складе</p>
      </li>
    </ul>
  </div>
</section>