<section class="dillers section section__border">
  <div class="dillers__container">
    <div class="section__wrapper dillers__wrapper">
      <div class="section__box">
        <h2 class="section__title dillers__title">дилерство</h2>
        <p class="section__subtitle dillers__subtitile">
          Мы&nbsp;дилеры крупных производителей. Вот некоторые мз&nbsp;них:
        </p>
      </div>
    </div>
    <ul class="dillers__list">
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/1.png" width="170" alt="">
        </a>
      </li>
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/2.png" width="125" alt="">
        </a>
      </li>
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/3.png" width="332" alt="">
        </a>
      </li>
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/4.png" width="230" alt="">
        </a>
      </li>
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/5.png" width="203" alt="">
        </a>
      </li>
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/6.png" width="173" alt="">
        </a>
      </li>
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/7.png" width="244" alt="">
        </a>
      </li>
      <li class="dillers__item">
        <a href="#" class="dillers__link">
          <img src="/public/img/dillers/8.png" width="222" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>