<section class="footer-bot">
 <div class="footer-bot__container">
  <span class="footer-bot__company">&copy;&nbsp;ООО &laquo;Алтай Герметик Плюс&raquo;, 2023</span>
  <div class="footer-bot__info">
   <span class="footer-bot__name">Общество с&nbsp;ограниченной <br> ответственностью &laquo;АЛТАЙ ГЕРМЕТИК+&raquo;</span>
   <span class="footer-bot__country">Сайт разработан в&nbsp;студии <a class="country" href="https://studio.country/">Country</a></span>
  </div>
 </div>
</section>

