<footer class="footer" id="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__nav footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="" class="footer-nav__link">ПРОДУКЦИЯ</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="footer-nav__link">О компании</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="footer-nav__link">Производство</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="footer-nav__link">Услуги</a>
          </li>
          <li class="footer-nav__item">
            <a href="" class="footer-nav__link">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer__menu footer-menu">
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Гидроизоляционные материалы</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Уплотнительные жгуты</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Моющие средства</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Битумные мастики и&nbsp;герметики</a>
          </li>
        </ul>
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Гидрофобизаторы и&nbsp;очистители бетона</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Герметики</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Ленты</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Противогололедные материалы</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Утеплитель</a>
          </li>
        </ul>
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Восстановление и&nbsp;ремонт бетона</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Покрытия для пола</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Лаки, краски</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Материалы <br> для герметизации деформационных швов</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__info">
      <div class="footer__phones phones">
        <a href="tel:+73852556500" class="phones__link">+7 (3852) 556‒500</a>
        <a href="tel:+73852572556" class="phones__link">+7 (3852) 572‒556</a>
      </div>
      <span class="footer__adress">г. Барнаул, Проспект Космонавтов, 20А</span>
    </div>
  </div>
</footer>