<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__description">
      <div class="hero__gydro hero__info _showEffect">
        <h2 class="hero__title">комплексное решение проблем с&nbsp;гидроизоляцией</h2>
        <p class="hero__subtitle">
          Комплексные решения. Собственная профессиональная бригада, обученная в&nbsp;Екатеринбурге. Ежедневно выполняем работы
          по&nbsp;гидроизоляции.
        </p>
      </div>
      <div class="hero__gydro hero__info">
        <h2 class="hero__title">Доставка <br> в&nbsp;любую точку страны и&nbsp;СНГ</h2>
        <p class="hero__subtitle">
          Доставка вашего заказа по&nbsp;России и&nbsp;странам СНГ.
        </p>
      </div>
      <div class="hero__gydro hero__info">
        <h2 class="hero__title">новый склад <br> в&nbsp;новосибирске</h2>
        <p class="hero__subtitle">
          Мы&nbsp;открыли новый склад в&nbsp;Новосибирске, чтобы <br> быть ближе к&nbsp;вам!
        </p>
      </div>
      <div class="hero__gydro hero__info">
        <h2 class="hero__title">гидроизоляция <br> для дорожного строительства</h2>
        <p class="hero__subtitle">
          Комплексные решения. Собственная профессиональная бригада, обученная в&nbsp;Екатеринбурге. Ежедневно выполняем работы по
          гидроизоляции.
        </p>
      </div>
      <a href="" class="js-modal-btn btn btn--fill btn-reset btn--fill-dark">Заказать звонок</a>
    </div>
    <div class="hero__swiper swiper">
      <div class="swiper-wrapper">
        <div class="hero-slide swiper-slide">
          <img src="/public/img/hero/hero-1.jpg" alt="">
        </div>
        <div class="hero-slide swiper-slide">
          <img src="/public/img/hero/hero-2.jpg" alt="">
        </div>
        <div class="hero-slide swiper-slide">
          <img src="/public/img/hero/hero-3.jpg" alt="">
        </div>
        <div class="hero-slide swiper-slide">
          <img src="/public/img/hero/hero-4.jpg" alt="">
        </div>
      </div>
      <div class="hero__navigation swiper-button-next swiper-btn-next swiper-btn-next--white">
       <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.299561 7.53857L13.7629 7.53857" stroke="white" stroke-width="1.5"/>
          <path d="M7.09956 14.3L13.8996 7.5L7.09956 0.7" stroke="white" stroke-width="1.5"/>
        </svg>
      </div>
      <div class="hero__navigation swiper-button-prev swiper-btn-prev swiper-btn-prev--white">
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.3 7.46143L1.83674 7.46143" stroke="white" stroke-width="1.5"/>
          <path d="M8.50005 0.699999L1.70005 7.5L8.50005 14.3" stroke="white" stroke-width="1.5"/>
        </svg>
      </div>
      <div class="swiper-pagination hero__pagination">
      </div>
    </div>
  </div>
</section>