<section class="maps section__border">
 <div class="maps__container">
  <div class="maps__head-office head-office maps-office">
  <div class="maps-office__descr">
    <h2 class="head-office__title maps-title">барнаул</h2>
    <div class="maps-office__box">
     <div class="maps-office__wrapper">
      <div class="maps-office__inner">
       <h3 class="maps__heading">Главный офис продаж</h3>
       <a href="tel:+73852556500" class="maps__phone maps__subhead">+7 (3852) 556‒500</a>
      </div>
      <div class="maps-office__inner">
       <h3 class="maps__heading">Почта</h3>
       <a href="mailto:altai-germeric@gmail.com" class="maps__mail maps__subhead">altai-germeric@gmail.com</a>
      </div>
     </div>
     <div class="maps-office__wrapper">
      <div class="maps-office__inner">
       <h3 class="maps__heading">Офис продаж</h3>
       <a href="tel:+73852572556" class="maps__phone maps__subhead">+7 (3852) 572‒556</a>
      </div>
      <div class="maps-office__inner">
       <h3 class="maps__heading">Адрес</h3>
       <p class="head-office__adress maps__subhead">проспект Космонавтов, 20А</p>
      </div>
     </div>
    </div>
   </div>
   <div class="maps-office__maps maps-brn" id="maps-brn"></div>
  </div>
  <div class="maps__head-office maps-office">
  <div class="maps-office__descr">
    <h2 class="head-office__title maps-title">новосибирск</h2>
    <div class="maps-office__wrapper maps-office__wrapper-other">
      <div class="maps-office__inner">
       <h3 class="maps__heading">Офис продаж</h3>
       <a href="tel:+73852556500" class="maps__phone maps__subhead">+7 (3852) 556‒500</a>
      </div>
      <div class="maps-office__inner">
       <h3 class="maps__heading">Адрес</h3>
       <span href="#" class="maps__mail maps__subhead">ул. Зыряновская 133, К3</span>
      </div>
    </div>
   </div>
   <div class="maps-office__maps maps-brn" id="maps-nsk"></div>
  </div>
 </div>
</section>