<section class="objects section section__border">
  <div class="objects__container">
    <div class="section__wrapper objects__wrapper section__border">
      <div class="section__box">
        <h2 class="section__title objects__title">объекты</h2>
        <p class="section__subtitle objects__subtitile">
          Наш ежедневный труд&nbsp;&mdash; гидроизоляция строительных объектов&nbsp;&mdash; выполнено более 100&nbsp;на территории Алтайского края и&nbsp;Новосибирской области.
        </p>
      </div>
      <div class="objects__navigation swiper-button-next swiper-btn-next swiper-btn-next--white">
       <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.299561 7.53857L13.7629 7.53857" stroke="white" stroke-width="1.5"/>
          <path d="M7.09956 14.3L13.8996 7.5L7.09956 0.7" stroke="white" stroke-width="1.5"/>
        </svg>
      </div>
      <div class="objects__navigation swiper-button-prev swiper-btn-prev swiper-btn-prev--white">
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.3 7.46143L1.83674 7.46143" stroke="white" stroke-width="1.5"/>
          <path d="M8.50005 0.699999L1.70005 7.5L8.50005 14.3" stroke="white" stroke-width="1.5"/>
        </svg>
      </div>

    </div>
    <div class="objects__swiper swiper">
      <div class="swiper-wrapper">
        <div class="objects-slide swiper-slide">
          <div class="objects-image">
            <img src="/public/img/objects/aeroport.jpg" alt="">
            <span class="objects-heading">Гидроизоляция</span>
            <span class="objects-city">Барнаул</span>
          </div>
        </div>
        <div class="objects-slide swiper-slide">
          <div class="objects-image">
            <img src="/public/img/objects/stolich.jpg" alt="">
            <span class="objects-heading">Гидроизоляция жилого комплекса Столичный</span>
            <span class="objects-city">Барнаул</span>
          </div>
        </div>
        <div class="objects-slide swiper-slide">
          <div class="objects-image">
            <img src="/public/img/objects/zavod.jpg" alt="">
            <span class="objects-heading">Гидроизоляция жилого комплекса Столичный</span>
            <span class="objects-city">Барнаул</span>
          </div>
        </div>
        <div class="objects-slide swiper-slide">
          <div class="objects-image">
            <img src="/public/img/objects/aeroport.jpg" alt="">
            <span class="objects-heading">Гидроизоляция жилого комплекса Столичный</span>
            <span class="objects-city">Барнаул</span>
          </div>
        </div>
        <div class="objects-slide swiper-slide">
          <div class="objects-image">
            <img src="/public/img/objects/stolich.jpg" alt="">
            <span class="objects-heading">Гидроизоляция жилого комплекса Столичный</span>
            <span class="objects-city">Барнаул</span>
          </div>
        </div>
        <div class="objects-slide swiper-slide">
          <div class="objects-image">
            <img src="/public/img/objects/stolich.jpg" alt="">
            <span class="objects-heading">Гидроизоляция жилого комплекса Столичный</span>
            <span class="objects-city">Барнаул</span>
          </div>
        </div>
        <div class="objects-slide swiper-slide">
          <div class="objects-image">
            <img src="/public/img/objects/stolich.jpg" alt="">
            <span class="objects-heading">Гидроизоляция жилого комплекса Столичный</span>
            <span class="objects-city">Барнаул</span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination objects__pagination">
      </div>
    </div>
  </div>
</section>