<section class="partners section section__border">
  <div class="partners__container">
    <div class="section__wrapper partners__wrapper">
      <div class="section__box">
        <h2 class="section__title partners__title">нам доверяют</h2>
      </div>
    </div>
    <ul class="partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/1.png" alt="">          
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/2.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/3.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/4.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/5.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/6.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/7.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/8.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/9.png" alt="">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="/public/img/partners/10.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>