<section class="production section__border">
  <div class="production__container">
    <p class="production__descr">
      Комплексные решения. Собственная профессиональная бригада, обученная в&nbsp;Екатеринбурге. Ежедневно выполняем работы по&nbsp;гидроизоляции.
    </p>
    <ul class="production__list">
      <li  class="prod-card production__item prod-card-sail">
        <a href="/germetik/src/pages/product-list.html?data-path=waterproofing-materials">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Гидроизоляционные материалы</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null"  class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist"></ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item prod-card-primary">
        <a href="/germetik/src/pages/product-list.html?data-path=bituminous-materials">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Битумные материалы</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card prod-card__big production__item">
        <a href="/germetik/src/pages/product-list.html?data-path=sealants">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Герметики</h3>
                <object>
                  <a href="/germetik/src/pages/product-list.html" data-title="sealant" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                  </a>
                </object>
            </div>
            <ul class="production__sublist">
              <li class="production__subitem">
                <object>
                  <a href="/germetik/src/pages/product-list-germetik.html?data-path=construction-sealants" class="production__sublink">
                    Строительные герметики
                  </a>
                </object>
              </li>
              <li class="production__subitem">
                <object>
                  <a  href="/germetik/src/pages/product-list.html?data-path=for-installing-windows" class="production__sublink">
                    Для установки окон
                  </a>
                </object>
              </li>
              <li class="production__subitem">
                <object>
                  <a  href="/germetik/src/pages/product-list.html?data-path=for-wood" class="production__sublink">
                    Для дерева
                  </a>
                </object>
              </li>
              <li class="production__subitem">
                <object>
                  <a href="/germetik/src/pages/product-list.html?data-path=for-concrete-floors" class="production__sublink">
                    Для бетонных полов
                  </a>
                </object>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item">
        <a href="/germetik/src/pages/product-list.html?data-path=water-repellents-and-concrete-cleaners">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Гидрофобизаторы и&nbsp;очистители бетона</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item  prod-card-sail">
        <a href="/germetik/src/pages/product-list.html?data-path=recovery-and-concrete-repair">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Восстановление и&nbsp;ремонт бетона</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card prod-card__big production__item">
        <a href="/germetik/src/pages/product-list.html?data-path=ribbons">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Ленты</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="tapes" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
              <li class="production__subitem">
                <object>
                  <a href="#" class="production__sublink">
                    Изоляционные для труб
                  </a>
                </object>
              </li>
              <li class="production__subitem">
                <object>
                  <a href="#" class="production__sublink">
                    Строительные
                  </a>
                </object>
              </li>
              <li class="production__subitem">
                <object>
                  <a href="#" class="production__sublink">
                    Оконные
                  </a>
                </object>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item  prod-card-sail">
        <a href="/germetik/src/pages/product-list.html?data-path=sealing-harnesses">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Покрытия для пола</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item">
        <a href="/germetik/src/pages/product-list.html?data-path=varnishes-and-paints">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Уплотнительные жгуты</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card prod-card__big production__item prod-card-primary">
        <a href="/germetik/src/pages/product-list.html?data-path=materials-for-sealing-expansion-joints">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Лаки и&nbsp;краски</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="varnishes" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
              <li class="production__subitem">
                <object>
                  <a href="#" class="production__sublink">
                    Мосты
                  </a>
                </object>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item">
        <a href="/germetik/src/pages/product-list.html?data-path=anti-icing-materials">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Материалы для герметизации деформационных швов</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item  prod-card-sail">
        <a href="/germetik/src/pages/product-list.html?data-path=insulation">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Противогололедные материалы</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card production__item">
        <a href="/germetik/src/pages/product-list.html?data-path=detergents">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Утеплитель</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="null" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
  
            </ul>
          </div>
        </a>
      </li>
      <li class="prod-card prod-card__big production__item prod-card-primary">
        <a href="/germetik/src/pages/product-list.html?data-path=floor-coverings">
          <div class="production__inner">
            <div class="production__wrapper">
              <h3 class="production__title">Моющие средства</h3>
              <object>
                <a href="/germetik/src/pages/product-list.html" data-title="detergents" href="" class="list-arrow">
                  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"></path>
                    <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"></path>
                  </svg>
                </a>
              </object>
            </div>
            <ul class="production__sublist">
              <li class="production__subitem">
                <object>
                  <a href="#" class="production__sublink">
                    Для дорог
                  </a>
                </object>
              </li>
              <li class="production__subitem">
                <object>
                  <a href="#" class="production__sublink">
                    Для бытового использования
                  </a>
                </object>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>