<section class="products section section__border">
  <div class="products__container">
    <div class="section__wrapper section__wrapper--end products__wrapper">
      <div class="section__box">
        <h2 class="section__title products__title">продукция</h2>
        <p class="section__subtitle products__subtitile">
          Пополняем бренды, с&nbsp;которыми работаем. Сейчас в&nbsp;их&nbsp;числе: Пенетрон, САЗИ, Олива, Экорум, Изодом, Типром, Сделай Пол, Монолит, Гидроизол, FERZ, полилен, Викар, Робибанд, Герметекс, PRIMATEK, Бионорд и&nbsp;другие.
        </p>
      </div>
      <div class="products__btn">
        <a href="" class="btn btn--fill btn-reset btn--fill-dark">все товары</a>
      </div>
    </div>
    <ul class="products__list grid">
      <li class="prod-card products__item prod-card-sail products__item-big">
        <div class="products__inner">
          <h3 class="products__heading">Гидроизоляционные материалы</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <img class="products__item-big--img" src="/public/img/products/penetron.png" alt="">
      </li>
      <li class="prod-card products__item prod-card-primary products__item-middle">
        <div class="products__inner">
          <h3 class="products__heading">Битумные материалы</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <img class="products__item-middle--img" src="/public/img/products/gidro.png" alt="">
      </li>
      <li class="prod-card products__item products__item-small">
        <div class="products__inner">
          <h3 class="products__heading">Герметики</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <img class="products__item-small--img" src="/public/img/products/sazilast.png" alt="">
      </li>
      <li class="prod-card products__item products__item-small">
        <div class="products__inner">
          <h3 class="products__heading">Ленты</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <img class="products__item-small--img" src="/public/img/products/lenta.png" alt="">
      </li>
      <li class="prod-card products__item products__item-longer">
        <div class="products__inner">
          <h3 class="products__heading">Гидрофобизаторы <br> и&nbsp;очистители бетона</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
      </li>
      <li class="prod-card products__item products__item-smaller prod-card-sail">
        <div class="products__inner">
          <h3 class="products__heading">Восстановление <br> и&nbsp;ремонт бетона</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
      </li>
      <li class="prod-card products__item products__item-smaller">
        <div class="products__inner">
          <h3 class="products__heading">Лаки, краски</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
      </li>
      <li class="prod-card products__item products__item-longer prod-card-primary">
        <div class="products__inner">
          <h3 class="products__heading">Материалы для&nbsp;герметизации деформационных швов</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
      </li>
      <li class="prod-card products__item products__item-smaller">
        <div class="products__inner">
          <h3 class="products__heading">Противогололедные материалы</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
      </li>
      <li class="prod-card products__item products__item-smaller prod-card-sail">
        <div class="products__inner">
          <h3 class="products__heading">Утеплитель</h3>
          <a href="" class="products__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>