<div class="excellence section section__border">
 <div class="excellence__container">
  <div class="section__wrapper excellence__wrapper">
   <div class="section__box">
    <h2 class="section__title excellence__title">технология выполнения</h2>
   </div>
  </div>
  <ul class="excellence__list">
   <li class="excellence__item">
    <span class="excellence__number">1</span>
    <p class="excellence__descr">Подготовительные работы</p>
   </li>
   <li class="excellence__item">
    <span class="excellence__number">2</span>
    <p class="excellence__descr">Установка пакеров (инъекторов)</p>
   </li>
   <li class="excellence__item">
    <span class="excellence__number">3</span>
    <p class="excellence__descr">Выполнение работ по&nbsp;инъектированию</p>
   </li>
  </ul>
 </div>
</div>