<section class="cardlist section__border">
 <div class="cardlist__container">
  <div data-title="sealant" class="cardlist__nav">
    <a class="cardlist__btn  btn-reset" data-path="all">
      <span>Все</span>
    </a>
    <a href="/germetik/src/pages/product-list-germetik.html?data-path=construction-sealants" class="cardlist__btn btn-reset cardlist__btn-active" data-path="construction-sealants">
      <span>Строительные герметики</span>
    </a>
    <a href="/germetik/src/pages/product-list-germetik.html" class="cardlist__btn btn-reset" data-path="for-installing-windows">
      <span>Для установки окон</span>
    </a>
    <a href="/germetik/src/pages/product-list-germetik.html" class="cardlist__btn btn-reset" data-path="for-wood">
      <span>Для дерева</span>
    </a>
    <a href="/germetik/src/pages/product-list-germetik.html" class="cardlist__btn btn-reset" data-path="for-concrete-floors">
      <span>Для бетонных полов</span>
    </a>
  </div>
  <div class="cardlist__wrap">
    <div class="cardlist__wrappin">
      <ul class="cardlist__list">
       <li class="cardlist__item">
         <a data-target="construction-sealants" href="/germetik/src/pages/product-card.html" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="false" class="cardlist__price">456,00 ₽</span>
            <span data-availability="true" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-installing-windows" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="true" class="cardlist__price">456,00 ₽</span>
            <span data-availability="false" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-installing-windows" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="true" class="cardlist__price">456,00 ₽</span>
            <span data-availability="false" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-wood" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="false" class="cardlist__price">456,00 ₽</span>
            <span data-availability="true" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-wood" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="true" class="cardlist__price">456,00 ₽</span>
            <span data-availability="false" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-wood" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="true" class="cardlist__price">456,00 ₽</span>
            <span data-availability="true" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-wood" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="true" class="cardlist__price">456,00 ₽</span>
            <span data-availability="true" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-concrete-floors" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="true" class="cardlist__price">456,00 ₽</span>
            <span data-availability="true" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
       <li class="cardlist__item">
         <a data-target="for-concrete-floors" href="#" >
          <div class="cardlist__inner">
           <div class="cardlist__top">
            <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
            <span data-price="true" class="cardlist__price">456,00 ₽</span>
            <span data-availability="false" class="cardlist__availability "></span>
           </div>
           <div class="cardlist__bootom">
            <img src="/public/img/section-cardList/sazilast.png" alt="">
           </div>
          </div>
         </a>
       </li>
      </ul>
      <ul class="cardlist__pag pag">
        <li class="pag__item pag__item--active">
          <a href="#" class="pag__link pag__link--active">1</a>
        </li>
        <li class="pag__item">
          <a href="#" class="pag__link">2</a>
        </li>
        <li class="pag__item">
          <a href="#" class="pag__link">3</a>
        </li>
        <li class="pag__item">
          <a href="#" class="pag__link">4</a>
        </li>
      </ul>
    </div>
    <div class="cardlist__navbar navbar">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a data-title="sealants" aria-expanded="false" class="navbar__heading navbar__arrow">
            Герметики
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.93396 0.962402L5.93396 10.9363" stroke="#454040" stroke-width="1.5"/>
              <path d="M0.924804 6L5.9624 11.0376L11 6" stroke="#454040" stroke-width="1.5"/>
            </svg>
          </a>
          <div class="navbar__content content">
            <ul class="content__list">
              <li class="content__item">
                <a aria-expanded="false" data-title="construction-sealants" href="#" class="content__link">Строительные герметики</a>
              </li>
              <li class="content__item">
                <a href="#" class="content__link">Для установки окон</a>
              </li>
              <li class="content__item">
                <a href="#" class="content__link">Для дерева</a>
              </li>
              <li class="content__item">
                <a href="#" class="content__link">Для бетонных полов</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__heading">Гидроизоляционные <br> материалы</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__heading">Битумные мастики <br> и&nbsp;герметики</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__heading">Гидрофобизаторы <br> и&nbsp;очистители бетона</a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__heading">Восстановление <br> и&nbsp;ремонт бетона</a>
        </li>
        <li class="navbar__item">
          <a aria-expanded="false" class="navbar__heading navbar__arrow">
            Ленты
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.93396 0.962402L5.93396 10.9363" stroke="#454040" stroke-width="1.5"/>
              <path d="M0.924804 6L5.9624 11.0376L11 6" stroke="#454040" stroke-width="1.5"/>
            </svg>
            </a>
          <div class="navbar__content content">
            <ul class="content__list">
              <li class="content__item">
                <a href="#" class="content__link">Изоляционные для труб</a>
              </li>
              <li class="content__item">
                <a href="#" class="content__link">Строительные</a>
              </li>
              <li class="content__item">
                <a href="#" class="content__link">Оконные</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__heading">Уплотнительные жгуты</a>
        </li>
        <li class="navbar__item">
          <a aria-expanded="false" class="navbar__heading navbar__arrow">
            Лаки и краски
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.93396 0.962402L5.93396 10.9363" stroke="#454040" stroke-width="1.5"/>
              <path d="M0.924804 6L5.9624 11.0376L11 6" stroke="#454040" stroke-width="1.5"/>
            </svg>
            </a>
          <div class="navbar__content content">
            <ul class="content__list">
              <li class="content__item">
                <a href="#" class="content__link">Мосты</a>
              </li>
            </ul>
          </div>
        </li>
         <li class="navbar__item">
          <a href="#" class="navbar__heading">Материалы для герметизации деформационных швов</a>
        </li>
         <li class="navbar__item">
          <a href="#" class="navbar__heading">Противогололедные материалы</a>
        </li>
         <li class="navbar__item">
          <a href="#" class="navbar__heading">Утеплитель</a>
        </li>
        <li class="navbar__item">
          <a aria-expanded="false" class="navbar__heading navbar__arrow">
            Моющие средства
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.93396 0.962402L5.93396 10.9363" stroke="#454040" stroke-width="1.5"/>
              <path d="M0.924804 6L5.9624 11.0376L11 6" stroke="#454040" stroke-width="1.5"/>
            </svg>
            </a>
          <div class="navbar__content content">
            <ul class="content__list">
              <li class="content__item">
                <a href="#" class="content__link">Для дорог</a>
              </li>
              <li class="content__item">
                <a href="#" class="content__link">Для бытового использования</a>
              </li>
            </ul>
          </div>
        </li>
         <li class="navbar__item">
          <a href="#" class="navbar__heading">Покрытия для пола</a>
        </li>
      </ul>
    </div>
  </div>
 </div>
</section>