<section class="favor-descr section__border">
 <div class="favor-descr__container">
  <div class="favor-descr--info">
   <p>
    Это однослойное или многослойное покрытие толщиной
    от&nbsp;миллиметра до&nbsp;нескольких сантиметров.
   </p>
   <p>
    Применяется для наружной защиты дома от грунтовых вод,
    и внутренней защиты от капиллярной влаги. К обмазочной гидроизоляции относятся материалы на цементной основе,
    но наиболее популярны материалы на основе битумов.
   </p>
   <a class="btn btn-reset btn--stroke">Заказать звонок</a>
  </div>
  
  <div class="favor-descr--image">
   <img src="/public/img/favor/coating.jpeg" alt="">
  </div>
 </div>
</section>