<section class="favor-descr section__border ">
 <div class="favor-descr__container">
  <div class="favor-descr--info">
   <p>
    Традиционные методы гидроизоляции невсегда оказывается эффективными. Например, для объектов, где возможны подвижки
    фундаментных блоков. Ведь даже незначительные деформации приводят к&nbsp;разрыву швов, сделанных сухими
    гидроизоляционными смесями.
   </p>
   <p>
    Но&nbsp;предотвратить появление трещин, а&nbsp;значит и&nbsp;просачивание воды, можно при помощи инъекционной
    гидроизоляции. Этот способ заключается в&nbsp;закачке полиуретановых смол в&nbsp;бетон при помощи специального
    оборудования: насосов и&nbsp;пакеров.
   </p>
    <a class="btn btn-reset btn--stroke">Заказать звонок</a>
  </div>

  <div class="favor-descr--image">
   <img src="/public/img/favor/Inektsionnye.jpeg" alt="">
  </div>
 </div>
</section>