<section class="card-slider">
 <div class="card-slider__container">
  <div class="section__wrapper card-slider-wrapper">
   <div class="section__box">
    <h2 class="section__title card-slider-title">Строительные герметики</h2>
   </div>
   <div class="card-slider-next swiper-btn-next">
    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path d="M0.299561 7.53857L13.7629 7.53857" stroke="white" stroke-width="1.5" />
     <path d="M7.09956 14.3L13.8996 7.5L7.09956 0.7" stroke="white" stroke-width="1.5" />
    </svg>
   </div>
   <div class="card-slider-prev swiper-btn-prev">
    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path d="M15.3 7.46143L1.83674 7.46143" stroke="white" stroke-width="1.5" />
     <path d="M8.50005 0.699999L1.70005 7.5L8.50005 14.3" stroke="white" stroke-width="1.5" />
    </svg>
   </div>
  </div>
  <div class="card-slider__swiper swiper">
   <div class="swiper-wrapper">
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="false" class="cardlist__price">456,00 ₽</span>
      <span data-availability="false" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="false" class="cardlist__price">456,00 ₽</span>
      <span data-availability="true" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="false" class="cardlist__price">456,00 ₽</span>
      <span data-availability="false" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="true" class="cardlist__price">456,00 ₽</span>
      <span data-availability="true" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="false" class="cardlist__price">456,00 ₽</span>
      <span data-availability="true" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="true" class="cardlist__price">456,00 ₽</span>
      <span data-availability="true" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="false" class="cardlist__price">456,00 ₽</span>
      <span data-availability="true" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   <a href="/germetik/src/pages/product-card.html" class=" swiper-slide cardlist__item">
    <div class="cardlist__inner">
     <div class="cardlist__top">
      <h3 class="cardlist__title">Герметик Сазиласт 24 классик еще название двухкомпонентный</h3>
      <span data-price="false" class="cardlist__price">456,00 ₽</span>
      <span data-availability="true" class="cardlist__availability ">В наличии</span>
     </div>
     <div class="cardlist__bootom">
      <img src="/public/img/section-cardList/sazilast.png" alt="">
     </div>
    </div>
   </a>
   </div>
  </div>
 </div>
</section>