<section class="section-about section__border">
  <div class="section-about__container">
    <p class="section-about__descr">
      Одно из&nbsp;направлений деятельности компании&nbsp;&mdash; поставка материалов для ремонта подземных гаражей и&nbsp;паркингов. У&nbsp;нас вы&nbsp;можете приобрести сухие смеси для гидроизоляции и&nbsp;ремонта бетона: подливочные смеси, праймеры, грунты, &laquo;водяные пробки&raquo; и&nbsp;др. Все материалы поставляем напрямую от&nbsp;производителя.
    </p>
    <div class="section-about__image">
      <img src="/public/img/section-about/altay.jpg" alt="">
    </div>
  </div>
</section>