<section class="product section">
  <div class="product__container">
    <p class="product__descr">
      Мы&nbsp;производим несколько видов продукции. Отвечаем за&nbsp;качество. Вот некоторые из&nbsp;них:
    </p>
    <ul class="product__list">
      <li class="product__item">
        <img src="/public/img/product/bitym.jpg" alt="">
        <h3 class="product__heading">Производство битумных мастик и&nbsp;герметиков</h3>
        <a href="" class="product__link">pragmaab.ru</a>
        <div class="product__intro intro">
          <h3 class="intro__heading">Производство битумных мастик и&nbsp;герметиков</h3>
          <p class="intro__text">&laquo;Битрон&raquo;&nbsp;&mdash; серия ремонтно-гидроизолирующих материалов различного назначения, позволяющих
          комплексно решать практически любые задачи гидроизоляции, защиты от&nbsp;воздействия агрессивных сред и&nbsp;ремонта
          строительных конструкций из&nbsp;бетона, камня, кирпича
          и&nbsp;других пористых материалов.</p>
          <a href="#" class="intro__link">pragmaab.ru</a>
        </div>
      </li>
      <li class="product__item">
        <img src="/public/img/product/penoplast.jpg" alt="">
        <h3 class="product__heading product__heading--gray">Пенопласт</h3>
        <a href="" class="product__link product__link--gray">penoplast22.ru</a>
        <div class="product__intro intro">
          <h3 class="intro__heading">Пенопласт</h3>
          <p class="intro__text">Алтайский завод пенопласта занимается производством плит из&nbsp;вспененного полистирола, а&nbsp;также шариков-наполнителя для кресел и&nbsp;наполнителем для полистиролбетона..</p>
          <a href="#" class="intro__link">pragmaab.ru</a>
        </div>
      </li>
      <li class="product__item">
        <img src="/public/img/product/bitym.jpg" alt="">
        <h3 class="product__heading">Производство противогололедного реагента</h3>
        <a href="" class="product__link">gidroizol22.ru</a>
        <div class="product__intro intro">
          <h3 class="intro__heading">Производство противогололедного реагента</h3>
          <p class="intro__text">ООО &laquo;Технология&raquo;&nbsp;&mdash; производитель продукции &laquo;Гидроизол&raquo;. Крупнейший 
            в&nbsp;отрасли производства профильных строительных материалов Алтайского края.
          </p>
          <a href="#" class="intro__link">pragmaab.ru</a>
        </div>
      </li>
    </ul>
  </div>
</section>