<section class="favor-descr section__border ">
 <div class="favor-descr__container">
  <div class="favor-descr--info">
   <p>
    Процесс восстановления целостности строительной конструкции путём закачки под высоким давлением сверхтекучих
    низковязких смол и&nbsp;микроцементов.
    Технология применяется для восстановления физических
    и&nbsp;эксплуатационных характеристик железобетонных, каменных и&nbsp;кирпичных строений и&nbsp;сооружений. Усиление
    методом инъектирования заключается в&nbsp;нагнетании специальных растворов под давлением в&nbsp;поры, трещины
    и&nbsp;пустоты фундаментной конструкции, благодаря чему повышается ее&nbsp;прочность, водонепроницаемость
    и&nbsp;морозостойкость.
   </p>
   <a class="btn btn-reset btn--stroke">Заказать звонок</a>
  </div>

  <div class="favor-descr--image">
   <img src="/public/img/favor/inektirovanie.jpeg" alt="">
  </div>
 </div>
</section>