<section class="favor-descr section__border ">
 <div class="favor-descr__container">
  <div class="favor-descr--info">
   <p>
    Цементно-песчаная смесь с&nbsp;использованием химических добавок. Принципиальное отличие проникающих составов
    от&nbsp;всех остальных материалов&nbsp;&mdash; формирование гидроизоляционного слоя не&nbsp;на&nbsp;поверхности
    фундамента,
    а&nbsp;в&nbsp;его значительной толщи (глубина проникновения активных химических компонентов может достигать
    10-12&nbsp;см)
   </p>
   <a class="btn btn-reset btn--stroke">Заказать звонок</a>
  </div>
  <div class="favor-descr--image">
   <img src="/public/img/favor/compounds.jpeg" alt="">
  </div>
 </div>
</section>