<section class="section-pages">
  <div class="section-pages__container">
    <div class="breadcrumbs">
      {{!-- <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link"></a>
        </li>
      </ul> --}}
    </div>
    <h2 class="section-pages__title attrSectionTitle">Продукция</h2>
  </div>
</section>