<section class="favor-descr section__border " >
 <div class="favor-descr__container">
  <div class="favor-descr--info">
   <p>
    Нанесение на&nbsp;поверхность бетонных или железобетонных конструкций слоя бетона или других строительных растворов
    (штукатурки, глины). Раствор (торкрет) наносится под давлением сжатого воздуха, в&nbsp;результате чего частицы цемента
    плотно взаимодействуют с&nbsp;поверхностью конструкции, заполняя трещины, раковины и&nbsp;мельчайшие поры.
   </p>
   <a class="btn btn-reset btn--stroke">Заказать звонок</a>
  </div>

  <div class="favor-descr--image">
   <img src="/public/img/favor/torkretirovanie.jpeg" alt="">
  </div>
 </div>
</section>