<section class="about-list--dark">
  <div class="about-list--dark__container">
    <ul class="about__list">
      <li class="about__item about__item-start">
        <span class="about__value about__value-primary">2008</span>
        <p class="about__descr about__descr-white">Вышли на&nbsp;рынок. Были&nbsp;дилерами производителей герметиков&nbsp;&mdash; Пенетрон и&nbsp;САЗИ. Расширяем ассортимент.</p>
      </li>
      <li class="about__item about__item-middle">
        <span class="about__value about__value-primary">2012</span>
        <p class="about__descr about__descr-white">Начали производить битумную мастику и&nbsp;запустили свой бренд&nbsp;&mdash; Гидроизол.</p>
      </li>
      <li class="about__item about__item-end">
        <span class="about__value about__value-primary">2023</span>
        <p class="about__descr about__descr-white">Активно развиваемся <br> и&nbsp;работаем с&nbsp;17&nbsp;крупными <br> брендами. Предоставляем качественный спектр услуг.</p>
      </li>
      <div class="about__bg about__bg-dark">
        <svg width="897" height="716" viewBox="0 0 897 716" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M87.1821 568.107L809.04 151.343" stroke="#FAFAFB" stroke-width="20"/>
          <path d="M748.467 382.822L811.244 148.534L576.955 85.7559" stroke="#FAFAFB" stroke-width="20"/>
        </svg>
      </div>
    </ul>
  </div>
</section>