<section class="section-pages">
 <div class="section-pages__container">
  <div class="breadcrumbs">
   <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
     <a href="#" class="breadcrumbs__link">Продукция</a>
    </li>
   </ul>
  </div>
  <h2 class="section-pages__title attrSectionTitle">Герметики</h2>
 </div>
</section>