<section class="services section section__border">
  <div class="services__container">
    <div class="section__wrapper section__wrapper--end services__wrapper">
      <div class="section__box">
        <h2 class="section__title services__title">услуги</h2>
        <p class="section__subtitle services__subtitile">
          Специалисты компании прошли обучение в&nbsp;Школе Гидроизоляровщиков ГК&nbsp;&laquo;Пенетрон-Россия&raquo;, имеют все необходимые для данной работы сертификаты и&nbsp;более 8&nbsp;лет постоянно проводят работы по&nbsp;гидроизоляции различных объектов.
        </p>
      </div>
      <div class="services__btn">
        <a href="" class="btn btn--fill btn-reset btn--fill-dark">услуги</a>
      </div>
    </div>
    <ul class="services__list grid">
      <li class="services__item">
        <div href="#" class="services__inner">
          <h3 class="services__heading">Инъекционная гидроизоляция</h3>
          <a href="" class="services__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <div class="services__item-image">
          <img class="services__item-img" src="/public/img/services/inektirovanie.png" alt="">
        </div>
      </li>
      <li class="services__item">
        <div href="#" class="services__inner">
          <h3 class="services__heading">Обмазочная гидроизоляция</h3>
          <a href="" class="services__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <div class="services__item-image">
          <img class="services__item-img" src="/public/img/services/obmazoch.jpeg" alt="">
        </div>
      </li>
      <li class="services__item">
        <div href="#" class="services__inner">
          <h3 class="services__heading">Гидроизоляция <br> с&nbsp;помощью проникающих составов</h3>
          <a href="" class="services__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <div class="services__item-image">
          <img class="services__item-img" src="/public/img/services/gidro_fundam.jpeg" alt="">
        </div>
      </li>
      <li class="services__item">
        <div href="#" class="services__inner">
          <h3 class="services__heading">Торкретирование</h3>
          <a href="" class="services__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <div class="services__item-image">
          <img class="services__item-img" src="/public/img/services/suhoe-torkretirovanie.jpeg" alt="">
        </div>
      </li>
      <li class="services__item">
        <div href="#" class="services__inner">
          <h3 class="services__heading">Усиление <br> конструкций методом инъектирования</h3>
          <a href="" class="services__link list-arrow">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.728516 8.30811L15.652 8.3081" stroke="#838383" stroke-width="1.5"/>
              <path d="M8.26599 15.8031L15.8035 8.26562L8.26599 0.728152" stroke="#838383" stroke-width="1.5"/>
            </svg>
          </a>
        </div>
        <div class="services__item-image">
          <img class="services__item-img" src="/public/img/services/ysilenie.jpeg" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>